.border-active{
    border: 3px solid black;
}

.border-inactive{
    border: 1px solid darkslategray;
}

.sensor-table{
    padding: 4vh;
    padding-left: 1vw;
    padding-right: 1vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensor{
    padding: 1vh;
    border: 1px solid black;
    background-color: gray;
}