body{
    background-color: #181a1b;
    color: white;
}

h1{
    font-size: 200%;
}

.border-active{
    border: 0.3vh solid white;
    border-radius: 0.5vh;
}

.border-inactive{
    border: 0.1vh solid rgb(81, 136, 136);
    border-radius: 0.5vh;
}

.sensor-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sensor-number{
    position: absolute;
    right:3vh;
    font-size: 75%;
}

.sensor-table{
    padding: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensor{
    padding: 1vh;
    background-color: darkslategrey;
    border-radius: 1vh;
}

.room-div{
    height: 20vh;
    margin-bottom: 3vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-div{
    height: 43vh;
    margin-bottom: 3vh;
    border: 0.3vh solid white;
    border-style: none none none solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-label{
    position: absolute;
    left: 0.5vw;
    font-size: 90%;
}

.box-label{
    position: absolute;
    height: 3rem;
    font-size:3rem;
    left: 0.5vw;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.power-label{
    height: 2vh;
    position: absolute;
    left: 20vw;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gain-label{
    position: absolute;
    height: fit-content;
    left: 22vw;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 0.3vh solid white;
    padding: 0.5vw;
}

.add_percent:after{
    content:'%'
}