body{
    background-color: #181a1b;
    color: white;
}

h1{
    font-size: 200%;
}

.border-active{
    border: 0.3vh solid white;
    border-radius: 0.5vh;
}

.border-inactive{
    border: 0.1vh solid rgb(81, 136, 136);
    border-radius: 0.5vh;
}

.sensor-table{
    padding: 4vh;
    padding-left: 1vw;
    padding-right: 1vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensor{
    padding: 1vh;
    background-color: darkslategrey;
    border-radius: 1vh;
}

.room-label{
    position: absolute;
    left: 0.5vw;
    bottom: 0.5vh;
    font-size: 60%;
}